In [30]:
#dependencies 
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import time

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
#directory where chromedriver exists
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
#NASA Mars News
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [5]:
#scrape
html = browser.html
soup = bs(html,"html.parser")

In [6]:
#latest news title and paragraph text
news_title = soup.find("div",class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text
print(news_title)
print(news_p)

NASA Launches a New Podcast to Mars
NASA's new eight-episode series 'On a Mission' follows the InSight spacecraft on its journey to Mars and details the extraordinary challenges of landing on the Red Planet.

In [7]:
#JPL Mars url
url_2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_2)

In [13]:
#locate image
featured_image_list = []

for image in soup.find_all('div',class_="img"):
    featured_image_list.append(image.find('img').get('src'))

In [15]:
feature_image = featured_image_list[0]

feature_image_url = "https://www.jpl.nasa.gov/" + feature_image

feature_image_dict = {"image": feature_image_url}
 
#print feature image
print("Feature Image URL:", feature_image_url)

Feature Image URL: https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA22793-640x350.jpg

In [46]:
#Latest Mars weather tweet
url_3 = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_3)

In [17]:
html_weather = browser.html
soup = bs(html_weather, "html.parser")
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

Sol 2213 (2018-10-27), high -12C/10F, low -70C/-93F, pressure at 8.74 hPa, daylight 06:11-18:29

In [47]:
#Mars facts
url_4 = "https://space-facts.com/mars/"
browser.visit(url_4)

In [53]:
mars_facts_df = pd.read_html("https://space-facts.com/mars/")

mars_facts_df = mars_facts_df[0]

mars_facts_df.rename({0:"Parameters", 1:"Values"},axis=1, inplace=True)

mars_facts_df

             Parameters                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [55]:
#convert table to HMTL
mars_facts_table_df = mars_facts_df.to_html("mars_facts_table_df.html",index=False)

mars_facts_dict_df = {"mars_facts_df": mars_facts_table_df}

In [56]:
#Mars hemispheres 
url_5 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_5)
html = browser.html
soup = bs(html, 'html.parser')

In [36]:
hemis_title=[]

for img_title in soup.find_all('div',class_="description"):
    hemis_title.append(img_title.find('h3').text)

In [38]:
hemis_image = []

for image in soup.find_all('div',class_="item"):
    
    url = "https://astrogeology.usgs.gov/"
    
    hemis_image.append(url + image.find('img').get('src'))
    
hemis_image

['https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png']

In [41]:
full_image_url = []

for each_url in hemis_image:
    
    split_url = each_url.split(".tif_thumb.png")[0]
    
    image_url = split_url + ".tif/full.jpg"
    
    full_image_url.append(image_url)
    
full_image_url

['https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif/full.jpg',
 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif/full.jpg',
 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif/full.jpg',
 'https://astrogeology.usgs.gov//cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif/full.jpg']

In [42]:
hemis_title

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [57]:
hemis_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": full_image_url[3]},
    {"title": "Cerberus Hemisphere", "img_url": full_image_url[0]},
    {"title": "Schiaparelli Hemisphere", "img_url": full_image_url[1]},
    {"title": "Syrtis Major Hemisphere", "img_url": full_image_url[2]},
]